[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = Ankur Singh
	email = abishek.singh.chauhan@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/ankur/.gitignore_global
